@charset "UTF-8";

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#333 ;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    padding: 3em;
}

div#calculadora{
    width: 400px;
    padding: .5em;
    background-color: #c4c4c4;
    color:black;
    display: flex;      /*<<<<<<<<<----------*/
    flex-direction: column;
}

#calculadora h3{
    font-size: .8em;
    font-weight: 300;
    color: #666;
}

#operacoes{
    text-align: right;
}

/*Diminuir a quantidade de linha se houver regras gerais*/
#operacao-anterior,
#operacao-atual{
    min-height: 1.6em;/*Vou ter um tamanho predefinido pro número evitando espaçamento dinamico*/
    padding: .2em;
    overflow-wrap: break-word; /*Quebra os números*/   
}

#operacao-anterior{
    color:#777;
    overflow-wrap:break-word;   
}

#operacao-atual{
    font-size: 3em;
    font-weight: 700;
}

#container-botoes {
    display: grid;      /*Proporção de cada uma das colunas*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:3px
}   

#container-botoes button{
    border:1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#container-botoes .number{
    background-color: #f3f3f3;
}

#container-botoes button:hover{
    background-color: #bababa;
    border-color:#999;
}

#container-botoes #botao-igual{
    grid-column:  span 2;
    background-color: #75a5CB;
}

#container-botoes #botao-igual:hover{
    grid-column:  span 2;       /*Ocupa 2 colunas*/
    background-color: #2c869c;
}